.header{
    background-color: #ffffff;
    border-bottom: 1px solid #f5f5f5;
    padding: 20px 0;
}
.logo{
    float: left;
    width: 40%;
}
.toplink{
    float: right;
    width: 50%;
}
.toplink ul{
    float: right;
}
.toplink ul li{
    float: left;
    list-style: none; /* bo dau cham dau li */
    margin-left: 25px;

}
.logo .logo-link{
    font-size: 26px;
    font-weight: 500;
}
.logo p{
    font-size: 15px;
}
.toplink a{
    font-weight: 500;
    line-height: 50px;
    font-size: 15px;
}
.nav{
    background-color: white;
    padding: 20px 0;
}
.menu li{
    list-style: none;
    float: left;
    margin-right: 25px;
}
.menu li.lass{
    float: right;
    margin-right: 0;
}
.main{
    margin-top: 30px;
}
.columns-right .content{
    background-color: #ffffff;
    padding: 30px;
    width:  calc(66.67% - 75px);
    margin-left: 15px;
}
.columns-right .sidebar{
    background-color: antiquewhite;
    padding: 20px;
    width: calc(33.33% - 55px);
    margin-left: 15px;
}