*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fafafa;
    font-size: 14px;
    font-family: "Roboto";
    font-weight:400;
    text-align:left;
    color: #333333;
}
a{
    text-decoration: none;
}
a:hover{
    color: #111111;
}
img{
    max-width: 100%;
}
.section{
    float: left;
    width: 100%;
}
.container{
    width:1200px;
    margin: 0 auto;
}
.columns-right .content{
    float: left;
    width: 66.67%;
}
.columns-right .sidebar{
    float: right;
    width: 33.33%;
}
.colum-left .content{
    float: right;
    width: 66.67%;
}
.colum-left .sidebar{
    float: left;
}
.one-colum .content{
    float: left;
    width: 100%;
}
.one-colum .sidebar{
    display: none;
}
